'scopeName': 'source.stealth'
'name': 'Stealth Assembly'
'fileTypes': ['stealth']

'patterns': [
  {
    'comment':'command'
    'match':'\\b[a-zA-Z]+(?![a-zA-Z]*:)(?![0-9])'
    'name':'support.function.builtin.stealth'
  }
  {
    'comment':'label'
    'match':'\\b[a-zA-Z]+(?=:)'
    # 'name':'constant.language.stealth'
    'name':'keyword.control.stealth'
  }
  {
    'comment':'variable'
    'match':'\\b[r|R](0*x[0-9a-fA-F]+|[0-9]+)'
    'name':'variable.other.normal.stealth'
  }
  {
    'comment':'literal'
    'match':'\\b(0*x[0-9a-fA-F]+|[0-9]+)'
    'name':'constant.numeric.stealth'
  }
  {
    'comment':'comment'
    'match': '#.*'
    'name':'comment.line.number-sign.stealth'
  }
]
